.main {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.login {
  max-width: 30rem;
  margin: auto;
  padding: 1.8rem 3rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.title{
  padding: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}
.title h3{
  margin-top: 3vh;
}

.logo{
  width: 25vh;
  margin:2vh 0 0 0;
  padding: 0;
}

.loginform {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28vh;
}

.loginform form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginform div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px; 
}

form label {
  font-size: 0.875rem;
  color: #1f2937;
  margin-bottom: 0.5rem;
  font-weight: 500;
}


form input {
  padding: 0.35rem;
  width: 25vh;
  border-radius: 0.25rem;
  border: 1px solid #c9c9c9;
  margin-bottom: 1rem;
  outline: none;
  transition: border-color 0.3s;
  height: 1.6rem;
}

form input:focus {
  border-color: #667eea;
}

button[type="submit"] {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.25rem;
  background-color: #3e5eea;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #667eea;
}

.loginform p {
  margin-top: 1.5rem;
  font-size: 0.875rem;
  color: #6b7280;
  text-align: center;
}

.loginform a {
  font-weight: 600;
  color: #6366f1;
  transition: color 0.3s;
}

.loginform a:hover {
  color: #4338ca;
}